### Question 1

Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

### Answer 1

In [1]:
test1 = "This is a test of emergency text system"

In [9]:
file = open("test.txt", "w") # open file to write new text
file.write(test1) # write a text
file.close() # always important to close the file

file = open("test.txt", "r") #
print(file.read())

This is a test of emergency text system

### Question 2

Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

### Answer 2

In [12]:
file1 = open("test.txt", "r")
test2 = file1.read()
print(test1)
print(test2)
file1.close()

This is a test of emergency text system
This is a test of emergency text system

No difference between test1 and test2.

### Question 3

Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

### Answer 3

In [22]:
import csv

header =  ['title','author','year']
data = [
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
]

with open("books.csv", "w", encoding="UTF8", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(data)

In [23]:
file = open("books.csv", "r")
print(file.read())

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China MiÃ©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

### Question 4

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

### Answer 4

In [63]:
import sqlite3

db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute('CREATE TABLE books(title text, author text, year integer)')
db.commit()

### Question 5

Read books.csv and insert its data into the book table.

In [64]:
file = open("books.csv", "r")
rows = csv.reader(file)

cursor = db.cursor()
cursor.executemany("INSERT INTO books VALUES (?,?,?)", rows)

cursor.execute("SELECT * FROM books")
print(cursor.fetchall(), end = ",")

db.commit()
db.close()

[('title', 'author', 'year'), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)],

### Question 6

Select and print the title column from the book table in alphabetical order.

### Answer 6

In [69]:
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute('SELECT title, author, year FROM books ORDER BY title ASC')
print(cursor.fetchall())

[('Perdido Street Station', 'China MiÃ©ville', 2000), ('Small Gods', 'Terry Pratchett', 1992), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Thud!', 'Terry Pratchett', 2005), ('title', 'author', 'year')],

### Question 7

From the book table, select and print all columns in the order of publication.

### Answer 7

In [70]:
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute('SELECT title, author, year FROM books ORDER BY year ASC')
print(cursor.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('title', 'author', 'year')]

### Question 8

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

### Answer 8

In [ ]:
!pip install flask-sqlalchemy

In [78]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = 'books.db'

db = SQLAlchemy(app)

C:\Users\Tauseef\anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:872: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

### Question 9

Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

### Answer 9

In [79]:
!pip install redis

Requirement already satisfied: redis in c:\users\tauseef\anaconda3\lib\site-packages (3.5.3)

In [84]:
import redis
r = redis.Redis(host = "localhost", port=6379, db=0)
r.set("foo", "bar")

True

In [85]:
r.get("foo")

b'bar'

In [89]:
redisClient = redis.StrictRedis(host = "localhost", port=6379, db=0)

hashname = "test"

redisClient.hset(hashname, 1, "Fester Bestertester")

print(redisClient.hgetall(hashname))

{b'1': b'Fester Bestertester'}

### Question 10

Increment the count field of test and print it.

### Answer 10

In [90]:
redisClient = redis.StrictRedis(host = "localhost", port=6379, db=0)

hashname = "test"

redisClient.hset(hashname, 2, "Fester Bestertester")

print(redisClient.hgetall(hashname))

{b'1': b'Fester Bestertester', b'2': b'Fester Bestertester'}