### Question 1

Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

### Answer 1

In [1]:
years_list = [1987, 1988, 1989, 1990, 1901]
years_list

[1987, 1988, 1989, 1990, 1901]

### Question 2

In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

### Answer 2

In [5]:
years_list[3] # third birthday

1990

### Question 3

In the years list, which year were you the oldest?

### Answer 3

In [6]:
years_list[-1] # oldest

1901

### Question 4

Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

### Answer 4

In [14]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

### Question 5

Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

### Answer 5

In [15]:
things[1] # name of person

'cinderella'

In [18]:
things[1] = things[1].capitalize() # Capitalizing "cinderella" (name of person)

In [19]:
things

['mozzarella', 'Cinderella', 'salmonella']

### Question 6

Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

### Answer 6

In [25]:
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

### Question 7

Lowercase the last element of the surprise list, reverse it, and then capitalize it.

### Answer 7

In [26]:
surprise[-1] = surprise[-1].lower() # lowercase last element

In [27]:
surprise

['Groucho', 'Chico', 'harpo']

In [28]:
surprise[-1] = surprise[-1][::-1] # reverse the last element
surprise

['Groucho', 'Chico', 'oprah']

In [29]:
surprise[-1] = surprise[-1].capitalize() # Capitalise last element

In [30]:
surprise

['Groucho', 'Chico', 'Oprah']

### Question 8

Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

### Answer 8

In [31]:
e2f = {"dog" : "chien", "cat" : "chat", "walrus" : "morse"}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### Question 9

Write the French word for walrus in your three-word dictionary e2f.

### Answer 9

In [33]:
e2f["walrus"] # extracting value of key walrus

'morse'

### Question 10

Make a French-to-English dictionary called f2e from e2f. Use the items method.

### Answer 10

In [34]:
f2e = {}

for english, french in e2f.items():
    f2e[french] = english

In [35]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### Question 11

Print the English version of the French word chien using f2e.

### Answer 11

In [37]:
f2e['chien']

'dog'

### Question 12

Make and print a set of English words from the keys in e2f.

### Answer 12

In [39]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

### Question 13

Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

### Answer 13

In [41]:
life = {"animals" : {"cats" : ["Henri", "Grumpy", "Lucy"], "octopi" : {}, "emus" : {}}, "plants" : {}, "others" : {}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'others': {}}

### Question 14

Print the top-level keys of life.

### Answer 14

In [42]:
life.keys()

dict_keys(['animals', 'plants', 'others'])

### Question 15

Print the keys for life[&#39;animals&#39;].

### Answer 15

In [44]:
life["animals"].keys()

dict_keys(['cats', 'octopi', 'emus'])

### Question 16

Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

### Answer 16

In [45]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']